.orange {
    color: #F16F30;
}
.purple-heavy {
    color: #251528;
    font-family: "SF Pro Heavy";
    font-size: 80px;
    line-height: 1.1;
}
.purple-med {
    color: #251528;
    font-family: "SF Pro Heavy";
    font-size: 50px;
    line-height: 1.1;
}
.purple-sm {
    color: #251528;
    font-family: "SF Pro Regular";
    font-size: 30px;
    line-height: 1.0;
}