.orange {
    color: #F16F30;
}
.purple-heavy {
    color: #251528;
    font-family: "SF Pro Heavy";
    font-size: 100px;
    line-height: 1.1;
}
.purple-med {
    color: #251528;
    font-family: "SF Pro Heavy";
    font-size: 30px;
    line-height: 1.1;
}