.text-heavy {
  font-family: "SF Pro Text";
  font-size: 35px;
  line-height: 1.1;
}
.text-med {
  font-family: 'Helvetica';
  font-size: 20px;
}
.white {
  color: white;
}
.gray {
  color: gray;
}
.black {
  color: #1e1e1e;
}
.v-center {
  display: flex;
  align-items: center;
  text-align: center;
}